*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#bg-light-grey{
    background-color: #f6f8f9;
}

.bg-white{
    background-color: #ffffff;
}

section#logo img{
    width: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

section#logo h1{
    background-color: #ffffff;
    font-size: 2rem;
    font-weight: bolder;
    display: inline-block;
    vertical-align: .9rem;
}

#buttons div{
    padding-left: 2rem;
    width: 80%;
    height: auto;
    margin: 2rem auto .1rem auto;
}

.task-button{
    font-size: 1rem;
    padding: .6rem;
    margin-top: 2rem;
    margin-bottom: .8rem;
    border-style: none;
    border-radius: .4rem;
    background-color: #47adf1;
    color: #ffffff;
}

.section-button{
    background-color: #ffffff;
    border: 1px solid #c6ccd1;
    font-size: 1rem;
    margin-left: .5rem;
    margin-bottom: .2rem;
    color: #d3d3d3;
    padding: .5rem;
    border-radius: .4rem;
}

.lists div{
    padding-left: 2rem;
    width: 80%;
    height: auto;
    margin: .1rem auto 2rem auto;
}
ul{
    list-style: none;
    line-height: 3rem;
}

h2{
    font-weight: bold;
}

.check{
    padding: 1px 6px;
    border: 1px solid #73c7b3;
    border-radius: 50%;
    color: #73c7b3;
}

.cross{
    padding: 1px 4px;
    border: 1px solid #ff0000;
    border-radius: 50%;
    color: #ff0000;
}

span.color{
    border-style: none;
    color: #ffffff;
    padding: .4rem;
    border-radius: .5rem;
    font-size: .5rem;
}

span.color.blue{
    background-color: #47adf1;
}

span.color.violet{
    background-color: #9c72e4;
}

span.color.green{
    background-color: #008000;
}

span.color.pink{
    background-color: #d863a1;
}

span.color.gold{
    background-color: #b0c926;
}



